force-app/main/default/flows/systemconfig_flow_sumedh.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Update_Configuration</name>
        <label>Update_Configuration</label>
        <locationX>660</locationX>
        <locationY>515</locationY>
        <actionName>MetadataUpdater</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Confirmation_Screen</targetReference>
        </connector>
        <inputParameters>
            <name>configName</name>
            <value>
                <elementReference>selectedConfiguration</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isActive</name>
            <value>
                <elementReference>newStatus</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Store_config</name>
        <label>Store_config</label>
        <locationX>350</locationX>
        <locationY>511</locationY>
        <assignmentItems>
            <assignToReference>newStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>configStatuss</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_Status_Changed</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>ActivateChoice</name>
        <choiceText>Activate</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <choices>
        <name>ActivateChoice1</name>
        <choiceText>Activate</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <choices>
        <name>ActivateChoice11</name>
        <choiceText>Activate</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <choices>
        <name>DeactivateChoice</name>
        <choiceText>Deactivate</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>fsdaf</name>
        <choiceText>{!ActivateChoice}</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <elementReference>ActivateChoice11</elementReference>
        </value>
    </choices>
    <choices>
        <name>fsdfga</name>
        <choiceText>{!ActivateChoice}</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <choices>
        <name>gasdg</name>
        <choiceText>{!ActivateChoice11}</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <decisions>
        <name>Check_if_Status_Changed</name>
        <label>Check if Status Changed</label>
        <locationX>566</locationX>
        <locationY>721</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Status_Chnaged</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>newStatus</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>selectedConfigIsActive</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Configuration</targetReference>
            </connector>
            <label>Status Chnaged</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>getRecords</name>
        <dataType>String</dataType>
        <displayField>MasterLabel</displayField>
        <filters>
            <field>Id</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>System_Configuration__mdt</object>
        <outputAssignments>
            <assignToReference>selectedConfigDescription</assignToReference>
            <field>Description__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>selectedConfigIsActive</assignToReference>
            <field>Is_Active__c</field>
        </outputAssignments>
        <valueField>DeveloperName</valueField>
    </dynamicChoiceSets>
    <interviewLabel>systemconfig flow sumedh {!$Flow.CurrentDateTime}</interviewLabel>
    <label>systemconfig flow sumedh</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_System_Configurations</name>
        <label>Get System Configurations</label>
        <locationX>331</locationX>
        <locationY>224</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Configuration_Manager_Screen</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>System_Configuration__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Configuration_Manager_Screen</name>
        <label>Configuration Manager</label>
        <locationX>77</locationX>
        <locationY>348</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Store_config</targetReference>
        </connector>
        <fields>
            <name>configDescription</name>
            <fieldText>&lt;p&gt;{!selectedConfigDescription}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>selectedConfiguration</name>
            <choiceReferences>getRecords</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Configuration</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>configStatuss</name>
            <choiceReferences>ActivateChoice11</choiceReferences>
            <choiceReferences>DeactivateChoice</choiceReferences>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>selectedConfigIsActive</elementReference>
            </defaultValue>
            <fieldText>Configuration Status</fieldText>
            <fieldType>RadioButtons</fieldType>
            <helpText>&lt;p&gt;{!newStatus}&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Confirmation_Screen</name>
        <label>Confirmation</label>
        <locationX>724</locationX>
        <locationY>878</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>confirmation_display</name>
            <fieldText>&lt;p&gt;Configuration updated successfully. The changes may take a few minutes to take effect.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>218</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_System_Configurations</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>newStatus</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedConfigDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedConfigIsActive</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
